@model IEnumerable<WebShop.Models.Product>
@{
	ViewData["Title"] = "Details";
	ViewData.AddActivePage(UserProfileMenuNavPages.CartDetails);
	var index = 0;
	var total_prise = 0.0;
	var discount = 0;
}

<br />
<h1><strong>Cart</strong></h1>
<br />
<h2>Items in your cart</h2>
<table class="table" style="background-color: aliceblue">
	<tr style="background-color: aquamarine">
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CreatedOn)
		</th>
		<th>
			Actions
		</th>
	</tr>
	@foreach (var item in Model)
	{
		var rtId = "item" + index.ToString();
		<tr id="@rtId">
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)$
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CreatedOn)
			</td>
			<td>
				<a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info">Details</a>
				<button type="button" class="btn btn-danger" onclick="removeFromCart('@index','@item.ProductId')">Remove</button>
			</td>
		</tr>
		index++;
		total_prise = total_prise + item.Price;
	}
</table>

<div class="row mb-4" style="padding-left: 1.5%; padding-top:3%">
	<div class="col-12">
		<h4 class="section-title mb-3" style="color: green"><strong>Total price in cart</strong></h4>
		<h3>@(total_prise)$</h3>
		<hr />
		<h4 class="section-title mb-3" style="color: green"><strong>Amount of products in cart</strong></h4>
		<h3>@(index)</h3>
		<hr />
		<h4 class="section-title mb-3" style="color: green"><strong>Your discount</strong></h4>
		@if (total_prise >= 50000.0)
		{
			discount = 7;
			<h3>@(discount)%</h3>
		}
		else if (total_prise >= 20000.0 && total_prise < 50000.0)
		{
			discount = 5;
			<h3>@(discount)%</h3>
		}
		else if (total_prise >= 10000.0 && total_prise < 20000.0)
		{
			discount = 3;
			<h3>@(discount)%</h3>
		}
		else if (total_prise > 0.0 && total_prise < 10000.0)
		{
			<h3>You don't have a discount</h3>
		}
		else
		{
			discount = 10;
			<h3>@(discount)%</h3>
		}
	</div>
</div>


<script>
    function removeFromCart(idx,id) {
        var trId = "#item" + idx;
        $.ajax({
            type: "DELETE",
            url: '@Url.Content("~/Cart/RemoveProduct/")',
            data: {
                id : id
            },
             success: function (result) {
                 if (result == true) {
                     $(trId).remove();
                 }
             }
    });
    }
</script>